body{
    background-color: white;
    font-weight: bold;
    display: none;
}
.langButton{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.AR{
    font-family: "El Messiri", sans-serif;

}
.EN{
    font-family: "Montserrat", sans-serif;
}
header{
	min-height: 80vh;
}
header .left-video{
	height: 85%;
}
.arBody header .rightSection{
	padding-right:  13rem;
}
.enBody header .rightSection{
	padding-left:  13rem;
}
@media (max-width:1130px) {
	/* header .content{
		flex-direction: column;
	}
	.rightSection, .rightSection{
		display: block;
	} */
	header .rightSection{
		padding: 5rem !important;
		width: 100%;
		text-align: center;
	}
	header .leftSection{
		align-items: start;
		width: 100%;
		max-width: 100vw;
	}
}
.breadcrumb{
    background-color: transparent;
}
.breadcrumb-item::after{
    float: left;
    padding-right: .5rem;
    color: #ffffff;
    content: var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */;
}

.breadcrumb-last-item::after{
    float: left;
    padding-right: .5rem;
    color: transparent;
    content: var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */;
}
.arabicText{
    direction: rtl;
}
.bg-custom{
    background-color:#27beb6ab ;
}
.text-custom{
    color:#27beb6 ;

}
#success .row{
    justify-content: center;
    text-align: center;
}

#influencers .team-item img{
    width: auto !important;
    height: 300px;

}
#influencers .owl-stage{
    height: 400px;
}
#influencers .team-item{
    height: 300px;
}
#influencers .team-item .team-text{
    position: absolute;
    width: 150px;
    height: 50px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    border: 10px solid var(--light);
    border-radius: 250px;
    transition: .5s;
}
#influencers .sponser-card{
    background-color: var(--light);
    border-radius: 10px;
}
#influencers .sponser-card img{
    max-height: 300px;
}
#influencers .sponser-card .sponser-text{
    text-align: right;
    padding: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.contactParagraph{
    direction: inherit;
    text-align: end;
	text-wrap: nowrap;
}
.footer{
    text-align: end;
    direction: rtl;
}

.bg-ment{
    background-color: #27beb61f;
}
#about{
    width: 100%;
    /* background-color: #27beb633; */
}
.large_font{
    font-size: 20px;

}
.wave_top{
    position: relative;
}
.wave_bottom{
    position: relative;
}
.underline{
    position: relative;
    display: inline-block; /* Ensures the border width matches the text */
}
.underline::before {
    content: "";
    position: absolute;
    bottom: -15px; /* Position it at the bottom of the text */
    left: 35%;
    width: 30%; /* Match the width of the text */
    height: 0.3rem; /* Adjust the border height */
    background-color: currentColor; /* Matches the text color */
  }

  .py-6{
	padding-top: 6rem;
	padding-bottom: 6rem;
  }
  .py-7{
	padding-top: 5rem;
	padding-bottom: 5rem;
  }
/* .wave_top::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    background: url(/img/bg-header-top.png) center center repeat-x;
    z-index: 1;

}

.wave_bottom::after{
    position: absolute;
    content: "";
    width: 100%;
    background-color: red;
    height: 19px;
    top: auto;
    bottom: 0;
    z-index: 1;

    background: url(/img/bg-header-bottom.png) center center repeat-x;
}

.wave_top_svg::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    background: url(/img/bg-header-top.svg) center center repeat-x;
    z-index: 1;

}

.wave_bottom_svg::after{
    background-color: red;
    height: 19px;
    top: auto;
    bottom: 0;
    z-index: 1;

    background: url(/img/bg-header-bottom.svg) center center repeat-x;
} */

.title{
	border-bottom: 4px;
    width: max-content;
    margin: auto;
    border-bottom-style: solid;
}
.courseContentOpened{
    direction: rtl;
    overflow: hidden;
    transition: .5s;
}
.courseContent{
    direction: rtl;
    height: 0px;
    overflow: hidden;
    transition: .5s;

}
.classes-item:hover .courseContentExtraMini{
    height:100px;
}
.classes-item:hover .courseContentMini{
    height:150px;
}

.classes-item:hover .courseContentMedium{
    height:250px;
}

.classes-item:hover .courseContentLarge{
    height:300px;
}
.classes-item:hover  .courseContentExtraLarge{
    height:550px;
}

.courseContent ul, .courseContentOpened ul{
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.courseContent li, .courseContentOpened li{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    font-size: 1.3rem;
    /* margin: 5px 0px; */
}
.courseContent i, .courseContentOpened i{
    margin: 10px;
    color: #ffde00;
}
/* #e60480 */
.classes-item .listArrow{
    transition: 0.5s;
    text-align: center;
}
.classes-item:hover .listArrow{
    transform: rotate(180deg);
}

.center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.about-img{
    z-index: 1010;
}


/* Decorations */
.decor-1,.decor-2{
    position: relative;
    overflow: hidden;
}

/* Decorstions */
.deco-white-circle-1,
.deco-white-circle-2,
.deco-blue-circle,
.deco-yellow-circle{
    border-radius: 100%;
}
.deco-white-circle-1,
.deco-white-circle-2{
    background-color: #f7fafd;

}

.deco-blue-circle{
    border: 8px solid #e6007e;
}
.deco-yellow-circle{
    background-color: #ffde00;
    /* background-color: #; */
}
.deco-green-diamond{
    background-color: #24bebe;
    transform: rotate(45deg);
}
.deco-white-circle-1,
.deco-white-circle-2,
.deco-blue-circle,
.deco-yellow-circle,
.deco-green-diamond {
	display: none;
    z-index: -1;
}

/* Min-width 992px */
@media (min-width: 992px) {
    .decor-1 .deco-white-circle-1 {
		position: absolute;
		top: 26rem;
		left: -12rem;
		display: block;
		width: 22rem;
		height: 22rem;
	}

	.decor-1 .deco-white-circle-2 {
		position: absolute;
		top: 19rem;
		right: -12rem;
		display: block;
		width: 20rem;
		height: 20rem;
	}

	.decor-1 .deco-blue-circle {
		position: absolute;
		top: 28rem;
		left: 5rem;
		display: block;
		width: 5rem;
		height: 5rem;
	}

	.decor-1 .deco-yellow-circle {
		position: absolute;
		top: 9rem;
		right: 7rem;
		display: block;
		width: 1.5rem;
		height: 1.5rem;
	}

	.decor-1 .deco-green-diamond {
		position: absolute;
		top: 9rem;
		left: 4rem;
		display: block;
		width: 1rem;
		height: 1rem;
	}


    .decor-2 .p-large {
		width: 51rem;
		margin-right: auto;
		margin-left: auto;
	}

	.decor-2 .deco-white-circle-1 {
		position: absolute;
		top: 23rem;
		left: -12rem;
		display: block;
		width: 20rem;
		height: 20rem;
	}

	.decor-2 .deco-white-circle-2 {
		position: absolute;
		top: 7rem;
		right: -12.5rem;
		display: block;
		width: 20rem;
		height: 20rem;
	}

	.decor-2 .deco-blue-circle {
		position: absolute;
		top: 15rem;
		right: 5rem;
		display: block;
		width: 5rem;
		height: 5rem;
	}

	.decor-2 .deco-yellow-circle {
		position: absolute;
		top: 31rem;
		left: 6.5rem;
		display: block;
		width: 2.5rem;
		height: 2.5rem;
	}

	.decor-2 .deco-green-diamond {
		position: absolute;
		top: 8rem;
		right: 12.5rem;
		display: block;
		width: 1rem;
		height: 1rem;
	}
}


/* Min-width 1200px */
@media (min-width: 1200px) {
	
	.decor-1 .deco-white-circle-1 {
		top: 14rem;
		left: -27rem;
		width: 40rem;
		height: 40rem;
	}

	.decor-1 .deco-white-circle-2 {
		right: -15rem;
		width: 25.5rem;
		height: 25.5rem;
	}

	.decor-1 .deco-blue-circle {
		top: 29rem;
		left: 10rem;
		width: 6rem;
		height: 6rem;
	}

	.decor-1 .deco-yellow-circle {
		top: 13.5rem;
		right: 8%;
		width: 2.5rem;
		height: 2.5rem;
	}

	.decor-1 .deco-green-diamond {
		top: 7rem;
		left: 18%;
		width: 1.25rem;
		height: 1.25rem;
	}


    /* Download */
	.decor-2 .image-container {
		width: 57.8125rem;
		height: 36.0625rem;
		margin-right: auto;
		margin-left: auto;
	}

	.decor-2 .deco-white-circle-1 {
		top: 20rem;
		left: -18rem;
		width: 30rem;
		height: 30rem;
	}

	.decor-2 .deco-white-circle-2 {
		top: 3rem;
		right: -20rem;
		width: 30rem;
		height: 30rem;
	}

	.decor-2 .deco-blue-circle {
		top: 17rem;
		right: 5rem;
		width: 6rem;
		height: 6rem;
	}

	.decor-2 .deco-yellow-circle {
		top: 33rem;
		left: 10rem;
		width: 3.5rem;
		height: 3.5rem;
	}

	.decor-2 .deco-green-diamond {
		top: 5rem;
		right: 25%;
		width: 1.5rem;
		height: 1.5rem;
	}
	/* end of download */
}


.footer .row{
	margin: 0px;
}