.navbar .Logo{
    height: 40px;
    margin-left: 10px;
}
@media (max-width:800px) {
    .navbar .Logo{
        height: 30px;
        margin-left: 10px;
    }
}
#ServicePage  .page-header{
    /* direction: rtl; */
    text-align: right;
}
#aboutSection  {
    direction: rtl;
}
.breadcrumb{
    direction: rtl;
}
.facility-item{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.3rem;

}
.facility-item i{
    margin: 0px 10px;
    color: #ffde00;
}
.facility-item p{
    margin: 0px;
   text-align: end;

}
.facility-item:hover p{
   color: black;
}
.facility-item:hover i{
    color: #ffde00;
 }

 #TimeLineSectionContainer{
    padding: 20px;
 }



 .service-section {
    text-align: center;
    justify-content: center;
 }
 .service-section  .center{
    align-items: stretch;
 }
 .service-section .icon-box {
	margin-bottom: 20px;
	padding: 30px;
	border-radius: 6px;
	background-color: #f8f9fab4;
    text-align: right;
    border-radius: 10px;
    transition: 0.5s;
    height: 90%;
}
.service-section .icon-box:hover {
    transform: scale(1.05);
}

.service-section .icon-box:hover  .service-title a {
	color: #41A1FD;

}
.service-section .icon-box  .icon-container{
    /* background-color: #41a1fd69; */
    float: right;
    /* color: #41A1FD; */
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-section .icon-box .service-icon {
	float: right;
	/* color: #41A1FD; */
	font-size: 40px;
}
/* Colors */
.service-section .icon-box  .icon-container.pink{
    background-color: #f5e8fa;

}
.service-section .icon-box .icon-container.pink .service-icon{
	color: #982c99;
    opacity: 0.7;
}

.service-section .icon-box  .icon-container.dark-blue{
    background-color: #f0eefc;

}
.service-section .icon-box .icon-container.dark-blue .service-icon{
	color: #6564e7;
    opacity: 0.7;
}

.service-section .icon-box  .icon-container.green{
    background-color: #ebf8ef;

}
.service-section .icon-box .icon-container.green .service-icon{
	color: #40c67f;
    opacity: 0.7;
}

.service-section .icon-box  .icon-container.red{
    background-color: #fbebeb;

}
.service-section .icon-box .icon-container.red .service-icon{
	color: #e23c37;
    opacity: 0.7;
}

.service-section .icon-box  .icon-container.blue{
    background-color: #dfebfb;

}
.service-section .icon-box .icon-container.blue .service-icon{
	color: #4586e1;
    opacity: 0.7;
}

.service-section .icon-box  .icon-container.yellow{
    background-color: #fff3e6;

}
.service-section .icon-box .icon-container.yellow .service-icon{
	color: #f5b646;
    opacity: 0.7;
}

.service-section .icon-box  .icon-container.mint{
    background-color: #41a1fd69;

}
.service-section .icon-box .icon-container.mint .service-icon{
	color: #41A1FD;
    opacity: 0.7;
}



/* End Colors */
.service-section .icon-box .service-title {
	margin-right: 90px;
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 1.2;
}
.service-section .icon-box .service-title a {
	color: #556270;
	transition: 0.3s;
	text-decoration: none;
    cursor:default;
}
.service-section .icon-box .service-para {
	margin-right: 90px;
	line-height: 24px;
	font-size: 14px;
    cursor:default;

}

.service-section .service-main-heading {
	color: #556270;
	padding: 0;
	margin-bottom: 20px;
	line-height: 1;
	font-size: 3rem;
	font-weight: 600;
}



#TimeLineSectionContainer .timeline-track-nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#TimeLineSectionContainer .timeline-track-nav button:first-child{
    border-radius: 0px 10px 10px 0px;
}
#TimeLineSectionContainer .timeline-track-nav button:last-child{
    border-radius: 10px 0px 0px 10px;
}
#TimeLineSectionContainer .timeline-track-nav button{
    /* margin: 0px 10px; */
    border: none;
    padding: 10px 20px;
    background-color: rgb(81, 188, 188);
    color: white;
}
#TimeLineSectionContainer .timeline-nav button.active{
    background-color: #4ab0b0;
}


#TimeLineSectionContainer .timeline-nav{
    display: none;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
}
#TimeLineSectionContainer .timeline-nav.active{
    display: flex;
}
#TimeLineSectionContainer .timeline-nav button{
    margin: 0px 10px;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: #5ad2d2;
    color: white;
}
#TimeLineSectionContainer .timeline-nav button.active{
    background-color: #4ab0b0;
}


.CourseSection img{
    width: 90%;
    margin: auto;
}
.CourseSection{
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0px;
}
.CourseSection.active{
    display: flex;
}

.CourseSection .levelBox{
    display: none;
    justify-content: center;
}
.CourseSection .levelBox.activeBox{
    display: flex;
}

.CourseSection .timelineSmall{
    display: none;
    width: 60%;
}
.CourseSection .timelineXSmall{
    display: none;
}
@media (max-width:1000px) {
    .CourseSection .timelineSmall{
        display: block;
    }
    
    .CourseSection .timelineBig{
        display: none;
    }
    .CourseSection .timelineXSmall{
        display: none;
    }
}

@media (max-width:790px) {
    .CourseSection .timelineXSmall{
        display: block;
    }
    .CourseSection .timelineSmall{
        display: none;
    }
    
    .CourseSection .timelineBig{
        display: none;
    }
}