#header{
    /* background-color: white; */
}
#header .text{
    text-align: start;
}
.tripsContainer{
    padding: 20px 5px ;
}
#PhotoGallry{
    background-color:#f8ffff;

}

#PhotoGallry .gallery-images{
    min-height: 80vh;
    /* overflow: auto; */
    scrollbar-width: none; /* Firefox */
}

#PhotoGallry .gallery-images::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and newer Edge */

}
#PhotoGallry img{
    background-color:#f8ffff;
}
#PhotoGallry .page-header{
    /* direction: rtl; */
    text-align: right;
}
/* Custom styling */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
}
.gallery-nav {
    border-radius: 10px;
    flex-basis: 100%;
}
.list-group{
    text-align: right;
}
.list-group-item{
    cursor: pointer;
}

.gallery-images {
    /* flex-basis: 75%; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.gallery-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.gallery-images video {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* Control image sizes */
.gallery-images .large {
    grid-column: span 3;
    grid-row: span 3;
}
.gallery-images .medium {
    grid-column: span 3;
}
.imageContainer{
    position: relative;
    /* min-width: 200px; */
}
.imageContainer .imagePlaceholder{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27beb6aa;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    transition: 0.2s;
}
.imageContainer:hover .imagePlaceholder{
    opacity: 1;
}
.imageContainer .videoPlaceholder{
    position: absolute;
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27beb6aa;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    transition: 0.2s;
}
.imageContainer:hover .videoPlaceholder{
    opacity: 1;
}
.imageContainer img, .imageContainer video{
    width: 100%;
    height: 100%;
}
.TopNavSmall{
    /* display: none; */
}
.TopNavSmall .list-group{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
    align-items: center;
    width: 100%;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;

}
.TopNavSmall .list-group li{
    text-wrap: nowrap;
}
.loader{
    text-align: center;
}
@media (max-width: 768px) {
    .gallery-nav {
        flex-basis: 100%;
        margin-bottom: 1rem;
        display: none;
    }
    .gallery-images {
        flex-basis: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
    .TopNavSmall{
        display: block;
    }
    .imageContainer .imagePlaceholder{
        font-size: 1.5rem;

    }
}

@media (max-width: 568px) {
    .gallery-nav {
        flex-basis: 100%;
        margin-bottom: 1rem;
    }
    .gallery-images {
        flex-basis: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}