#ServicePage  .page-header{
    /* direction: rtl; */
    text-align: right;
}
#aboutSection  {
    direction: rtl;
}
.breadcrumb{
    direction: rtl;
}



.container{
    position: relative;
    z-index: 2;
}

.deco-white-circle-1,
.deco-white-circle-2,
.deco-blue-circle,
.deco-yellow-circle,
.deco-green-diamond {
    z-index: 1;
}