#header{
    /* background-color: white; */
}
#header .text{
    text-align: start;
}
#camps h3, #mini-camps h3{
    text-align: start;
}
#PhotoGallry{
    background-color:#f8ffff;

}
#PhotoGallry .gallery-images{
    max-height: 100vh;
    overflow: auto;
}
#PhotoGallry img{
    /* background-color:#f8ffff; */
}
#PhotoGallry .page-header{
    /* direction: rtl; */
    text-align: right;
}
/* Custom styling */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
}
.gallery-nav {
    border-radius: 10px;
    flex-basis: 25%;
}
.list-group{
    text-align: right;
}

.gallery-images {
    flex-basis: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.gallery-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* Control image sizes */
.gallery-images .large {
    grid-column: span 2;
    grid-row: span 2;
}
.gallery-images .medium {
    grid-column: span 2;
}
.imageContainer{
    position: relative;
    /* min-width: 200px; */
}
.imageContainer .imagePlaceholder{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27beb6aa;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    opacity: 0;
    transition: 0.2s;
}
.imageContainer:hover .imagePlaceholder{
    opacity: 1;
}
.imageContainer img{
    width: 100%;
    height: 100%;
}
.TopNavSmall{
    display: none;
}
.TopNavSmall .list-group{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
    align-items: center;
    width: 100%;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;

}
.TopNavSmall .list-group li{
    text-wrap: nowrap;
}
@media (max-width: 768px) {
    .gallery-nav {
        flex-basis: 100%;
        margin-bottom: 1rem;
        display: none;
    }
    .gallery-images {
        flex-basis: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .TopNavSmall{
        display: block;
    }
}

@media (max-width: 568px) {
    .gallery-nav {
        flex-basis: 100%;
        margin-bottom: 1rem;
    }
    .gallery-images {
        flex-basis: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

.Contact_Button{
    text-align: center;
}