#ServicePage  .page-header{
    /* direction: rtl; */
    text-align: right;
}
#aboutSection  {
    direction: rtl;
}
.breadcrumb{
    direction: rtl;
}
#header{
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;

}


.container{
    position: relative;
    z-index: 2;
}

.deco-white-circle-1,
.deco-white-circle-2,
.deco-blue-circle,
.deco-yellow-circle,
.deco-green-diamond {
    z-index: 1;
}


.course_section{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.min-text{
    font-size: 15px;
}
.mediaSide{
    text-align: center;
}
.ml-2{
    margin-left: 10px;
}
.mr-2{
    margin-right: 10px;
}
.PageHeaderTitle{
    text-wrap: nowrap;
    background-color: #e6007d;
    width: max-content;
    padding: 10px;
    color:white;
    border-radius: 10px;
    
}
.course-links p{
    font-size: 2rem;
    background-color: #24bebe;
    padding: 10px;
    border-radius: 10px;
}
.course-links p a{
    font-size: 2rem;
    color: white;
    /* color: #24bebe;; */

}
.course-points{
    font-size: 1.5rem;
}
.course-points h3{
    font-size: 2rem;
}
#mini-camps{
    padding-bottom: 10rem;
}


.row-slider{
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: auto;
    height: 30vh;
    overflow: scroll;
    right: 0px;
    margin-right: -320px;
}
.row-slider img{
    margin: 10px;
}
.CourseHeader{
    /* color:yellow; */
    text-wrap: nowrap;
    background-color: #e6007d;
    padding: 10px;
    color:white;
    border-radius: 10px;

}
@media (max-width:1000px) {
    #teachers .content{
        flex-direction: column-reverse;
    }
    .course-points h3{
        font-size: 1.5rem;
        /* font-size: 10px; */
    }
    .course-points p{
        font-size: 1rem;
    }
    .course-links p a{
        font-size: 1rem;
    
    }
    
    .CourseHeader{
        font-size: 1.5rem;
        text-wrap: wrap;
        width: 100%;
    }

    .PageHeaderTitle{
        font-size: 1.5rem;
        width: 100%;
        text-wrap: wrap;
    }
    img.img-fluid.rounded-circle.p-3, .rounded-circle.p-3{
        padding: 0.5rem !important;
    }
}
